/*================= Content ============== */

section {
    padding: 5% 1%;
}

.content-card {
    &--secondary {
        margin-top: 50px;
    }
    &__header {
        margin-bottom: 30px;
    }
    &__button {
        margin: 20px 0;

        @media (min-width: 992px) {
            margin-top: 30px;
        }
    }
}

.col {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}

.content-item-4 {
    width: 100%;

    @media (min-width: 768px) {
        width: 50%;
        display: inline-block;
    }
    @media (min-width: 992px) {
        width: 25%;
    }

    &__thumb {
        position: relative;
        text-align: center;
        max-width: 126px;
        margin: auto;
        img {
            border-radius: 50%;
        }
    }
    &__title {
        font-family: $Roboto-bold;
        color: $dark_grey;
    }
    &__text {
        color: $grey;
        font-size: 12px;
        margin-bottom: 30px;
    }
}

.content-item-3 {
    width: 100%;
    margin-bottom: 25px;
    @media (min-width: 768px) {
        width: 50%;
        display: inline-block;
    }
    @media (min-width: 992px) {
        width: 33.33333333%;
    }

    &__thumb {
        position: relative;
        text-align: center;
        margin: auto;
        img {
            width: 100%;
        }
    }
    &__title {
        color: $white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 4px;
        cursor: pointer;
        background: rgba($dark_grey, .3);
        display: flex;
        align-items: center;
    	justify-content: center;
        @include transition(background, .5s, linear);

        &:hover {
            color: $dark_grey;
            background: transparent;
        }

        span {
            font-family: $Roboto-bold;
            font-size: 20px;
            @media (min-width: 500px) {
                font-size: 30px;
            }
        }
    }
    &__text {
        color: $grey;
        font-size: 12px;
        margin-bottom: 30px;

        @media (min-width: 992px) {
            margin-bottom: 0;
        }
    }
}

.content-item-2 {
    width: 100%;
    margin-bottom: 25px;
    @media (min-width: 768px) {
        width: 50%;
        display: inline-block;
    }
    @media (min-width: 992px) {
        width: 66.666666%;
    }

    &__thumb {
        position: relative;
        text-align: center;
        margin: auto;
        img {
            width: 100%;
        }
    }
    &__title {
        color: $white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 4px;
        cursor: pointer;
        background: rgba($dark_grey, .3);
        display: flex;
        align-items: center;
  		justify-content: center;
        @include transition(background, .5s, linear);

        &:hover {
            color: $dark_grey;
            background: transparent;
        }

        span {
            font-family: $Roboto-bold;
            font-size: 20px;
            @media (min-width: 500px) {
                font-size: 30px;
            }
        }
    }
    &__text {
        color: $grey;
        font-size: 12px;
        margin-bottom: 30px;

        @media (min-width: 992px) {
            margin-bottom: 0;
        }
    }
}
